* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  height: 60px;
  padding: 0px 20px;
  align-items: center;
  background: rgb(218, 187, 247);
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.remove-underline {
  font-weight: 600;
  padding: 10px;
  text-decoration: none !important;
}

.section {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #89f4fe;
  color: rgb(0, 0, 0);
}
.footer {
  width: 100%;
  padding: 10px;
  background: #000;
  text-align: center;
  color: aliceblue;
}
