nav {
  display: flex;
  padding: 0.3rem 3rem;
  justify-content: space-between;
  color: white;
  align-items: center;

  background: #790279;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 0.5rem;
  li {
    padding: 1rem;
    font-size: medium;
    font-weight: bold;
  }
  li:hover {
    background: #fff;
    color: black;
    border-radius: 1rem;
  }
}

div button {
  display: flex;
  height: 40px;
  font-size: larger;
  padding: 0px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  align-items: center;
}
