* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  padding: 10px;
}

button {
  padding: 10px;
  margin: 15px;
}

.card {
  margin-left: 145px;
  background-color: #333232;
}
